<ion-view view-title='Add a Tutor'>
    <ion-content class='has-header'>
        <form ng-submit="addTutor()">
            <ion-list>
                <ion-item class="item-divider">Personal Information</ion-item>
                <ion-item>
                    <label>
                        <input type="text" ng-model="tutor.firstName" placeholder='First Name'>
                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="text" ng-model="tutor.lastName" placeholder='Last Name'>
                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="text" ng-model="tutor.thumbnail" placeholder='Avatar URL'>
                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type='text' ng-model='tutor.hiring_department' placeholder='Hiring Department Code'></input>
                    </label>
                </ion-item>
                <ion-item class="item-divider">Classes</ion-item>
                <ion-item>
                    <label>
                        <input type="text" ng-model='tutor.short' placeholder='Expertise (e.g. Accounting, Math, Statistics)'>
                    </label>
                </ion-item>
                <ion-item class='item-input item-stacked-label'>
                    <label>
                        <span class='input-label'>Separate multiple subjects with a comma</span>
                        <input type="text" ng-model="tutor.subjects[0]" placeholder='Subjects (e.g. Accounting, Math, Chemistry)'>
                    </label>
                </ion-item>
                <ion-item class='item-input item-stacked-label'>
                    <label>
                        <span class='input-label'>Separate multiple courses with a comma</span>
                        <input type="text" ng-model="tutor.courses[0]" placeholder='Courses (e.g. ACCTG-4A, MATH-5B, CHEM-3A)'>
                    </label>
                </ion-item>
                <ion-item>
                    <label>
                        <input type="text" ng-model="tutor.etc" placeholder='ETC? Yes, or No'>
                    </label>
                </ion-item>
                <ion-item class="item-divider">Schedule</ion-item>
                <div ng-repeat="schedule in tutor.schedule">
                    <ion-item>{{schedule.weekday}}</ion-item>
                    <div ng-repeat="detail in schedule.details">
                        <label class="item item-input item-select">
                            <input type="text" ng-model="detail.times">
                            <div class="input-label">Location</div>
                            <input type='text' ng-model='details.location'>
                        </label>
                    </div>
                    <button class="button" ng-click="addDetails($event, schedule)">Add</button>
                </div>
                <ion-item>
                    <label>
                        <button class="button button-block button-assertive" type="submit">Submit</button>
                    </label>
                </ion-item>
            </ion-list>
        </form>
    </ion-content>
</ion-view>
