<ion-view view-title='Brain Food'>
    <ion-content>
           <div class="small-hero pass-yellow">
                <h1>&quot;Student success is a combination of academics and humanness in the PASS program.&quot;</h1>
            </div>
        </div>
        <div id="primary-content">
            <section>
                <h2 class="title">Brain Food</h2>

                <h3>Background on the Brain Food Initiative</h3>
                <p>The “Brain food” project was developed by the PASS Center at Fresno City College as a positive reinforcement instrument to support student participation for PASS. The term “Brain food” was developed in the spring of 2015 by PASS Coordinator, Jennifer Dorian, who is currently conducting her dissertation research on student participation for student supportive services.  

                <p>Many PASS students visit the PASS Center for multiple hours at a time or are going from class to class with little time to eat. Finding time and money for a meal is often challenging, and this is why food is always provided to students in the PASS Center. Students are able to study better and more when hunger is not an issue.</p> 

                <p>PASS aims to not only assist students in success but to also support students as human beings. Our data also show that PASS students not only appreciate the food provided in our Center, but they also find it helpful for their efficiency when completing work. The nourishing support that “Brain food” provides for PASS students is the reason we are so adamant about serving our students in this holistic manner. Student success is a combination of academics and humanness in the PASS program.</p>

                <h3>Check out our Brain Food Video</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/4nJB77k-m-A" frameborder="0" allowfullscreen></iframe>
                
            </section>
            <aside>
                <h2>Online Tutoring</h2>
                <p class="center">We offer friendly, live, online tutoring:</p>
                <p class="center space-after">Be sure to log into blackboard before clicking the link:</p>
                <a class = "btn btn-pass-color" href="https://scccd.blackboard.com/webapps/blackboard/content/listContentEditable.jsp?content_id=_2730114_1&course_id=_116714_1">Online Tutoring</a>
            </aside>
        </div>
    </ion-content>
</ion-view>
