<ion-view view-title='Workshop Calendar'>
    <ion-content class='has-header padding'>
        <div class='calendar' ng-repeat='(months, calendarMonth) in calendar'>
            <div ng-repeat='(month, day) in calendarMonth'>
                <h1>{{month}}</h1>
                <div class="tile-container">
                    <div class='dayTile' ng-repeat='(info, date) in day | orderBy: "date"'>
                        <p class='date'>{{date.date}}</p>
                        <div class='eventTile' ng-repeat="items in date.events">
                            <p class='calendarTitle'>{{items.title}}</p>
                            <p>{{items.startTime}}</p>
                            <p>{{items.location}}</p>
                            <hr ng-show='date.events.length > 1 && !$last'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
