<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Event</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeCalendarModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div ng-repeat='(months, calendarMonth) in calendar'>
            <div ng-repeat='(month, day) in calendarMonth'>
                <div class='day-view' ng-repeat='(info, date) in day' ng-click='showCalendarModal()'>
                    <h1>{{month}} {{date.date}}</h1>
                    <h3>{{date.title}}</h3>
                    <p ng-show='date.startTime'>{{date.startTime}} - {{date.endTime}}</p>
                    <p>{{date.location}}</p>
                    <p>{{date.locationAddress}}</p>
                    <p>{{date.description}}</p>
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
