<ion-view view-title='ETC'>
    <ion-content class='has-header'>
        <div id="area-header">
            <nav class="area-nav etc-color">
                <ul>
                    <li><a class="current" href="/#/extending-the-class/etc">Home</a></li>
                    <li><a href="#">Online Tutoring</a></li>
                    <li><a href="/#/extending-the-class/leaders">Leaders</a></li>
                    <li><a href="#">Faculty</a></li>
                    <li><a href="#">Starting and ETC Program</a></li>
                    <li><a href="#">ETC Data</a></li>
                    <li><a href="/#/extending-the-class/search">Find a Tutor</a></li>
                </ul>
            </nav>
            <div class="hero etc"></div>
        </div>
        <div id="primary-content">
            <section>
                <article>
                    <h3>ETC Faculty</h3>
                    <p>ETC is only offered for courses with departmental and faculty support that also meet the programs selection criteria. Faculty have a working relationship with their current ETC leader, since they have the responsibility of nominating former or current students to fill this role for them.</p> 

                    <p>Your prospective ETC leader is someone who is dynamic in character and knowledgeable in the specific content area that they teach.  They are not instructors, but rather, their role is to facilitate a learning environment so that content covered in the classroom is enhanced and students are supported in their learning.</p>

                    <p>The ETC leaders facilitate weekly collaborative and active study group sessions based on the pace, content and deadlines of the specific course.  The ETC Factulty Handbook provides additional information regarding the program.</p> 


                    <a href="http://fccwise.fresnocitycollege.edu/pages/fccwise_complete/etcwebsite/etc_faculty_handbook.pdf">Faculty Handbook</a>
                </article>
            </section>
            <aside>
                <h2>Online Tutoring</h2>
                <p class="center space-after">We offer friendly, live, online tutoring:</p>
                <a class = "btn-etc-color btn" href="https://scccd.blackboard.com/webapps/blackboard/content/listContentEditable.jsp?content_id=_2651947_1&course_id=_111657_1&mode=reset">Online Tutoring</a>
            </aside>
        </div>
    </ion-content>
</ion-view>
