<ion-view view-title='ETC'>
    <ion-content class='has-header'>
        <div id="area-header">
            <div class="small-hero etc-purple">
            <h1>Are you ready to become an ETC Leader?</h1>
            </div>
        </div>
        <div id="primary-content">
            <section>

                <h2>ETC Faculty</h2>
                <p>ETC is only offered for courses with departmental and faculty support that also meet the programs selection criteria. Faculty have a working relationship with their current ETC leader, since they have the responsibility of nominating former or current students to fill this role for them.</p> 

                <p>Your prospective ETC leader is someone who is dynamic in character and knowledgeable in the specific content area that they teach.  They are not instructors, but rather, their role is to facilitate a learning environment so that content covered in the classroom is enhanced and students are supported in their learning.</p>

                <p>The ETC leaders facilitate weekly collaborative and active study group sessions based on the pace, content and deadlines of the specific course.  The ETC Factulty Handbook provides additional information regarding the program.</p> 


                <a class="link" href="http://fccwise.fresnocitycollege.edu/pages/fccwise_complete/etcwebsite/etc_faculty_handbook.pdf"><i class="icon ion-archive"></i>&nbsp;Faculty Handbook</a>
            </section>
            <aside class="supplemental">
                    <h3 class="space">ETC Mentor Program</h3>
                    <p>The ETC Mentor Program was created to assist ETC Leaders in planning, implementing and developing ETC sessions. To find out more about ETC Mentors, check out the video below to hear it from leaders and mentors themsleves.</p>
                    </br>
                    <iframe src="https://www.youtube.com/embed/zO3zutCAXps">
            </aside>
        </div>
    </ion-content>
</ion-view>
