<ion-view view-title='ETC Data'>
    <ion-content class='has-header'>
        <div id="area-header">
            <div class="small-hero etc-purple">
            <h1>Our data reflects the success of our program</h1>
            </div>
        </div>
        <div id="primary-content">
            <section>
                <article>
                    <h2 class="title-etc">ETC Data</h2>
                    <h3 class="subtitle">ETC Program Evaluation Methods</h3>

                    <p>The ETC Program collects data on three measures: successful completion rates, retention and GPA. Successful completion rates refers to students earning a passing grade of A, B, C, P (CR) in a particular course within a semester. Retention refers to the number of students who remain enrolled in a particular course until the end of the semester and receive a final grade A, B, C, P (CR), D, F, NP (NC)) (Non-withdrawal). GPA refers to the final course grade on a 4.0 scale.</p>

                    <p>The table below indicates the average GPA (Grade Point Average) of all students in the ETC Program, the average GPA for the attendees and that of the non-attendees. It indicates a clear benefit for those students taking advantage of the extended classes.</p>

                    <!-- Average GPA Table -->

                    <table id="data" class="graph">
                        <Caption>Average GPA of Students in the ETC Program </Caption>
                        <tr>
                        <th>Semester</th>
                        <th>Total</th>
                        <th>ETC Attendees</th>
                        <th>ETC Non-Attendees</th>
                        </tr>
                        <tr>
                        <td>Fall 2009</td>
                        <td>2.10</td>
                        <td>2.51 <span>&#40;293&#41;*</span></td>
                        <td>1.95 <span>&#40;907&#41;*</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2010</td>
                        <td>2.17 </td>
                        <td>2.37 <span>&#40;517&#41;</span></td>
                        <td>2.04 <span>&#40;867&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Fall 2010</td>
                        <td>1.93</td>
                        <td>2.41 <span>&#40;509&#41;</span></td>
                        <td>1.65 <span>&#40;998&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2011</td>
                        <td>1.85</td>
                        <td>2.28 <span>&#40;711&#41;</span></td>
                        <td>1.57 <span>&#40;1249&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Fall 2011</td>
                        <td>1.98</td>
                        <td>2.40 <span>&#40;632&#41;</span></td>
                        <td>1.70 <span>&#40;1088&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2012</td>
                        <td>1.87</td>
                        <td>2.27 <span>&#40;1257&#41;</span></td>
                        <td>1.63 <span>&#40;2348&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Fall 2012</td>
                        <td>1.82</td>
                        <td>2.23 <span>&#40;1076&#41;</span></td>
                        <td>1.61 <span>&#40;2412&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2013</td>
                        <td>1.78</td>
                        <td>2.13 <span>&#40;1169&#41;</span></td>
                        <td>1.58 <span>&#40;2390&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Fall 2013</td>
                        <td>1.89</td>
                        <td>2.22 <span>&#40;1330&#41;</span></td>
                        <td>1.71 <span>&#40;2867&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2014</td>
                        <td>1.93</td>
                        <td>2.19 <span>&#40;1245&#41;</span></td>
                        <td>1.77 <span>&#40;2289&#41;</span></td>
                        </tr>
                    </table>
                    <p><span>* Number in parenthesis is the total number of Students</span></p>
                    <img class="graph" src="img/average_gpa.png">

                    <p>The table below indicates the retention rates of students enrolled in the
                    ETC Program.  The first column indicates overall retention,
                    while the last two columns show retention rates for those attending the
                    extra classes and those not attending.</p>

                    <!-- Retention Rates -->

                    <table id="data" class="graph">
                        <Caption>Retention Rates of Students in the ETC Program </Caption>
                        <tr>
                        <th>Semester</th>
                        <th>Total</th>
                        <th>ETC Attendees</th>
                        <th>ETC Non-Attendees</th>
                        </tr>
                        <tr>
                        <td>Fall 2009</td>
                        <td>86%</td>
                        <td>92%  <span>&#40;293&#41;*</span></td>
                        <td>85%  <span>&#40;907&#41;*</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2010</td>
                        <td>87%</td>
                        <td>92% <span>&#40;517&#41;</span></td>
                        <td>84% <span>&#40;867&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Fall 2010</td>
                        <td>88%</td>
                        <td>95% <span>&#40;509&#41;</span></td>
                        <td>84% <span>&#40;998&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2011</td>
                        <td>88%</td>
                        <td>95% <span>&#40;711&#41;</span></td>
                        <td>84% <span>&#40;1249&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Fall 2011</td>
                        <td>91%</td>
                        <td>97% <span>&#40;632&#41;</span></td>
                        <td>87% <span>&#40;1088&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2012</td>
                        <td>88%</td>
                        <td>95% <span>&#40;1257&#41;</span></td>
                        <td>84% <span>&#40;2348&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Fall 2012</td>
                        <td>85%</td>
                        <td>92% <span>&#40;1076&#41;</span></td>
                        <td>82% <span>&#40;2412&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2013</td>
                        <td>85%</td>
                        <td>93% <span>&#40;1169&#41;</span></td>
                        <td>81% <span>&#40;2390&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Fall 2013</td>
                        <td>87%</td>
                        <td>92% <span>&#40;1330&#41;</span></td>
                        <td>84% <span>&#40;2867&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2014</td>
                        <td>87%</td>
                        <td>92% <span>&#40;1245&#41;</span></td>
                        <td>84% <span>&#40;2289&#41;</span></td>
                        </tr>
                    </table>
                    <p><span>* Number in parenthesis is the total number of Students</span></p>
                    <img class="graph" src="img/retention.png">


                    <p>The first column of the table below indicates the overall success rate of all
                    students in the ETC program, the last two columns compare the success rate of students attending the extended classes with those who did not take advantage of the extended classes.</p>

                    <!-- Successful Completion Table -->

                    <table id="data">
                        <Caption>Successful Completion Rates in the ETC Program</Caption>
                        <tr>
                        <th>Semester</th>
                        <th>Total</th>
                        <th>ETC Attendees</th>
                        <th>ETC Non-Attendees</th>
                        </tr>
                        <tr>
                        <td>Fall 2009</td>
                        <td>58%</td>
                        <td>72% <span>&#40;293&#41;*</span></td>
                        <td>53% <span>&#40;907&#41;*</span></td>
                        </tr>

                        <tr>
                        <td>Spring 2010</td>
                        <td>60%</td>
                        <td>71% <span>&#40;517&#41;</span></td>
                        <td>54% <span>&#40;867&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Fall 2010</td>
                        <td>55%</td>
                        <td>73% <span>&#40;517&#41;</span></td>
                        <td>46% <span>&#40;1249&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2011</td>
                        <td>53%</td>
                        <td>72% <span>&#40;711&#41;</span></td>
                        <td>43% <span>&#40;1249&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Fall 2011</td>
                        <td>58%</td>
                        <td>76% <span>&#40;632&#41;</span></td>
                        <td>48% <span>&#40;1088&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2012</td>
                        <td>55%</td>
                        <td>73% <span>&#40;1257&#41;</span></td>
                        <td>46% <span>&#40;2348&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Fall 2012</td>
                        <td>52%</td>
                        <td>69% <span>&#40;1076&#41;</span></td>
                        <td>45% <span>&#40;2412&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2013</td>
                        <td>51%</td>
                        <td>68% <span>&#40;1169&#41;</span></td>
                        <td>42% <span>&#40;2390&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Fall 2013</td>
                        <td>55%</td>
                        <td>68% <span>&#40;1330&#41;</span></td>
                        <td>49% <span>&#40;2867&#41;</span></td>
                        </tr>
                        <tr>
                        <td>Spring 2014</td>
                        <td>56%</dt>
                        <td>67% <span>&#40;1245&#41;</span></td>
                        <td>50% <span>&#40;2289&#41;</span></td>
                        </tr>
                    </table>
                    <p><span>* Number in parenthesis is the total number of Students</span></p>
                    <img class="graph" src="img/success_comp.png">
                </article>
                <article>
                    <h2 class="title-etc">ETC Overview</h2>
                    <p>The following information provides a snapshot of the development of the ETC Program since its inception in Spring 2007 through Spring 2014</p> 

                    <table id="data">
                    <tr>
                    <th width="88">Semester</th>
                    <th width="109">Number of Instructors</th>
                    <th width="100">Number of Sections</th>
                    <th width="122">ETC Student Attendance</th>
                    <th width="87">Contact Hours</th>
                    <th width="66">Visits</th>
                    </tr>
                    <tr>
                    <td>Spring 2007</td>
                    <td>7</td>
                    <td>8</td>
                    <td>61</td>
                    <td>146</td>
                    <td>136</td>
                    </tr>
                    <tr>
                    <td>Fall 2007</td>
                    <td>6</td>
                    <td>12</td>
                    <td>78</td>
                    <td>198</td>
                    <td>195</td>
                    </tr>
                    <tr>
                    <td>Spring 2008</td>
                    <td>8</td>
                    <td>18</td>
                    <td>143</td>
                    <td>831</td>
                    <td>706</td>
                    </tr>
                    <tr>
                    <td>Fall 2008</td>
                    <td>8</td>
                    <td>22</td>
                    <td>386</td>
                    <td>2486</td>
                    <td>3081</td>
                    </tr>
                    <tr>
                    <td>Spring 2009</td>
                    <td>10</td>
                    <td>16</td>
                    <td>466</td>
                    <td>4335</td>
                    <td>3458</td>
                    </tr>
                    <tr>
                    <td>Fall 2009</td>
                    <td>6</td>
                    <td>14</td>
                    <td>275</td>
                    <td>2383</td>
                    <td>1832</td>
                    </tr>
                    <tr>
                    <td>Spring 2010</td>
                    <td>9</td>
                    <td>21</td>
                    <td>465</td>
                    <td>5315</td>
                    <td>3850</td>
                    </tr>
                    <tr>
                    <td>Fall 2010</td>
                    <td>6</td>
                    <td>18</td>
                    <td>510</td>
                    <td>4856</td>
                    <td>3900</td>
                    </tr>
                    <tr>
                    <td>Spring 2011</td>
                    <td>10</td>
                    <td>31</td>
                    <td>686</td>
                    <td>6358</td>
                    <td>5595</td>
                    </tr>
                    <tr>
                    <td>Fall 2011</td>
                    <td>9</td>
                    <td>23</td>
                    <td>674</td>
                    <td>6857</td>
                    <td>6732</td>
                    </tr>
                    <tr>
                    <td>Spring 2012</td>
                    <td>15</td>
                    <td>45</td>
                    <td>1257</td>
                    <td>10108</td>
                    <td>8857</td>
                    </tr>
                    <tr>
                    <td>Fall 2012</td>
                    <td>19</td>
                    <td>55</td>
                    <td>1076</td>
                    <td>10396</td>
                    <td>8554</td>
                    </tr>
                    <tr>
                    <td>Spring 2013</td>
                    <td>19</td>
                    <td>52</td>
                    <td>1148</td>
                    <td>11825</td>
                    <td>11138</td>
                    </tr>
                    <tr>
                    <td>Fall 2013</td>
                    <td>20</td>
                    <td>64</td>
                    <td>1330</td>
                    <td>11451</td>
                    <td>10585</td>
                    </tr>
                    <tr>
                    <td>Spring 2014</td>
                    <td>24</td>
                    <td>69</td>
                    <td>1245</td>
                    <td>11210</td>
                    <td>9435</td>
                    </tr>
                    </table>
                </article>
            </section>
            <aside class="supplemental">
                    
            </aside>
        </div>
    </ion-content>
</ion-view>
