<ion-view view-title='ETC'>
    <ion-content class='has-header'>
     <div id="area-header">
                <nav class="area-nav etc-color">
                    <ul>
                        <li><a class ="current" href="#">Home</a></li>
                        <li><a href="#">Online Tutoring</a></li>
                        <li><a href="#">Meet the Staff</a></li>
                        <li><a href="#">Math Test Prep</a></li>
                        <li><a href="#">Find a Tutor</a></li>
                    </ul>
                </nav>
                <div class="hero etc"></div>
            </div><!--area-header-->
            <div id="primary-content">
                <section>
                    <h2>Extending the Class</h2>
                    <p>The mission of ETC is to facilitate learning and improve students academic achievement though active and independent learning activities in collaberation with their peers, By identifying high risk courses, ETC provides an avenue for all students to receive preventative and targeted methods to succeed academically.</p> 

                    <ul>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/OzLOJUgnsA4" frameborder="0" allowfullscreen></iframe>
                        
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZfrhKYAgayM" frameborder="0" allowfullscreen></iframe>
                    </ul>

                    <h3>What to expect – for students</h3>
                    <p>All of our services are free to currently enrolled Fresno City College students. There are no appointments; just stop by and meet with a tutor during our open hours:</p>

                    <table width="300" id="data">
                        <tr>
                            <td width="119">Monday</td>
                            <td width="169">7:30am - 4:30pm</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>7:30am - 4:30pm</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>7:30am - 4:30pm</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>   
                            <td>7:30am - 4:30pm</td>    
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>7:30am - 2:00pm</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>9:00am - 2:00pm</td>
                        </tr>
                    </table>

                    <h3>What to expect – for faculty</h3>
                    <p>The mission of ETC is to facilitate learning and improve students academic achievement though active and independent learning activities in collaberation with their peers, By identifying high risk courses, ETC provides an avenue for all students to receive preventative and targeted methods to succeed academically.</p>

                    <ul class="content">
                        <li>Want to know more about our services?</li>
                        <li>Want to recommend a tutor or ETC Leader?</li> 
                        <li class="last">Do you have ideas or suggestions?</li>
                        <p>Please contact Ray M. Sanchez: <a href="tel:+5594428209">559-442-8209</a></p>
                        <p>E-mail: <a href="mailto:ray.sanchez@fresnocitycollege.edu">ray.sanchez@fresnocitycollege.edu</a></p>
                    </ul>

                </section>
                <aside>
                    <h2>Online Tutoring</h2>
                    <p class="space-after">We offer friendly, live, online tutoring:</p>
                    <a class = "btn-tc-color btn" href="https://scccd.blackboard.com/webapps/blackboard/content/listContentEditable.jsp?content_id=_2651947_1&course_id=_111657_1&mode=reset">Online Tutoring</a>
                </aside>
            </div><!--primary-content-->   
    </ion-content>
</ion-view>
