<ion-view view-title='FCC Wise'>
    <ion-content class='has-header padding'>
        <div class="grid-container">
            <section class='grid'>
                <a href='#/search'><img src="img/tutor_search.png" alt="Tutor Search"></a>
                <a href='#/extending-the-class'><img src="img/etc.png" alt="Extending the Class"></a>
                <a href='#/tutorial-center'><img src="img/tc.png" alt="Tutorial Center"></a>
                <a href='#/writing-reading-center'><img src="img/wrc.png" alt="WRC"></a>
                <a href='#/pass'><img src="img/pass.png" alt="PASS"></a>
                <a href='#/become-a-tutor'><img src="img/b_tutor.png" alt="Become a Tutor"></a>
                <a href='#/calendar'><img src="img/workshops.png" alt="Workshop Calendar"></a>
                <a href='#/online-tutoring'><img src="img/online.png" alt="Online Tutoring"></a>
                <a href='#/resources'><img src="img/ed_resources.png" alt="Eductational Resources"></a>
            </section>
        </div>
        <div class="grid-container gray">
            <h2>News &amp; Upcoming Events</h2>
            <section class='articles'>
                <article>
                    <h4>Some header stuff</h4>consectetur adipisicing elit. Cumque, architecto sapiente? Aliquid dicta nam tenetur possimus aspernatur minus a, autem quasi, dolor facilis esse aperiam voluptatum cum iusto accusantium corrupti.</p>
                </article>
                <article>
                    <h4>Some header stuff</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores perspiciatis doloremque impedit. Inventore nihil ipsa eligendi optio atque, rerum reiciendis aliquid hic, numquam, cumque nemo voluptatem, voluptates saepe a eius?</p>
                </article>
                <article>
                    <h4>Some header stuff</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint optio qui quaerat debitis aspernatur dicta impedit id asperiores eos omnis, totam, in ipsum? Enim blanditiis explicabo facere sunt ipsum. Corporis.</p>
                </article>
            </section>
        </div>
        <div class="grid-container extras">
            <section>
                <iframe type='text/html' ng-src="{{trustSrc('https://www.youtube.com/embed/38MJCRCOzwU')}}" allowfullscreen frameborder="0"></iframe>
            </section>
            <aside>
                <h3>Header</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, eius eaque blanditiis odio placeat ex soluta autem ipsam ipsum eveniet ea fugiat rem iste adipisci. Labore mollitia nisi, aliquid quos.Tempora beatae, similique odio aperiam dolore quis exercitationem nobis fugit cum quasi, consequatur officiis qui mollitia nulla magni non. Maiores fugiat voluptatem vero? Consectetur unde doloribus earum, alias exercitationem ullam.Architecto vitae voluptate incidunt autem minima repellendus, aperiam voluptatibus odio quisquam, deserunt ipsam. Eveniet incidunt placeat suscipit asperiores laudantium porro dolor! Ipsum, id perferendis dolore dignissimos nostrum delectus sint debitis.</p>
            </aside>
        </div>
    </ion-content>
</ion-view>
