<ion-view view-title='FCC Wise'>
    <div class="bar bar-subheader item-input-inset bar-light bar-custom">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder='Search' ng-model='query'>
        </label>
    </div>
    <ion-content class='has-header has-subheader padding'>
        <div class="grid-container">
            <section class='grid'>
                <a href='#/search'><img src="img/tutor_search.png" alt="Tutor Search"></a>
                <a href='#/extending-the-class'><img src="img/etc.png" alt="Extending the Class"></a>
                <a href='#/tutorial-center'><img src="img/tc.png" alt="Tutorial Center"></a>
                <a href='#/writing-reading-center'><img src="img/wrc.png" alt="WRC"></a>
                <a href='#/pass'><img src="img/pass.png" alt="PASS"></a>
                <a href='#/become-a-tutor'><img src="img/b_tutor.png" alt="Become a Tutor"></a>
                <a href='#/calendar'><img src="img/workshops.png" alt="Workshop Calendar"></a>
                <a href='#/online-tutoring'><img src="img/online.png" alt="Online Tutoring"></a>
                <a href='#/resources'><img src="img/ed_resources.png" alt="Eductational Resources"></a>
            </section>
        </div>
        <div class="grid-container gray">
            <h2>News &amp; Upcoming Events</h2>
            <section class='articles'>
                <article ng-repeat='(key, value) in news'>
                    <h4>{{value.title}}</h4>
                    <p>{{value.synopsis | limitTo: 100}}{{value.synopsis.length > 100 ? '&hellip;': ''}}</p>
                </article>
            </section>
        </div>
        <div class="grid-container extras">
            <section>
                <iframe type='text/html' ng-src="{{trustSrc('https://www.youtube.com/embed/38MJCRCOzwU')}}" allowfullscreen frameborder="0"></iframe>
            </section>
        </div>
    </ion-content>
</ion-view>
