<ion-view view-title='ETC'>
    <ion-content class='has-header'>
        <div id="area-header">
            <nav class="area-nav etc-color">
                <ul>
                    <li><a href="/#/extending-the-class/etc">Home</a></li>
                    <li><a href="#">Online Tutoring</a></li>
                    <li><a  class="current" href="/#/extending-the-class/leaders">Leaders</a></li>
                    <li><a href="#">Faculty</a></li>
                    <li><a href="#">Starting and ETC Program</a></li>
                    <li><a href="#">ETC Data</a></li>
                    <li><a href="/#/extending-the-class/search">Find a Tutor</a></li>
                </ul>
            </nav>

        </div>
        <div id="primary-content">
            <section>
                <h3>ETC Leaders</h3>
                <p>ETC Leaders are competent students who have passed a specific course with at least an A or B. They facilitate collaborative study group sessions for a specific instructor and for a specific course.</p> 

                <p>ETC Leaders are extremely prepared to lead these study group sessions based on pre-planning, experience in the course and their strong content 
                knowledge.</p>

                <p>This page is designed to assist current ETC Leaders in programmatic expectations and requirements as well as in the creation of meaningful collaborative 
                study group sessions.</p> 

                <h3 class="space">Qualities of an ETC Leader</h3>
                <p>An ETC Leader is a student who has successfully completed the course in which you wish to facilitate active collaborative study group sessions.  As an ETC Leader, you will attend lectures regularly to maximise understanding of course content and so that the students enrolled know that you understand their needs in terms of the expectations provided by the course. You will also work closely with your instructor to provide personalized sessions that meet the needs of the instructor, the students and course expectations.  An ETC Leader must possess certain qualities, characteristics and requirements</p>

                <ul class="content">
                <li>Have passed the specific course in which you would like to lead study group sessions with either an A or a B</li>
                <li>Have an appreciation for the specific course content</li>
                <li>Ability to lead group sessions</li>
                <li>Strong verbal and written communication skills</li>
                <li>Ability to plan and create dynamic handouts, games and activities to facilitate active learning</li>
                </ul> 
                <p class="bulletlist">If you think you meet these qualities, characteristics and requirements, you are encouraged to apply. We look forward to the possibility of working with you.</p>
                <ul class="content">
                <li><a href="http://fccwise.fresnocitycollege.edu/pages/fccwise_complete/etcwebsite/etc_leader_training_manual.pdf">ETC Training Manual</a></li>
                <li><a href="http://fccwise.fresnocitycollege.edu/pages/fccwise_complete/etcwebsite/etc_leader_application.pdf">ETC Training Application</a></li>
                </ul>
            </section>
            <aside>
                <article>
                    <h3 class="space">ETC Mentor Program</h3>
                    <p>We recently introduced an ETC Mentor program.  The ETC Mentor Program was created to assist ETC Leaders in planning, implementing and developing ETC sessions. To find out more about ETC Mentors, check out the video below to hear it from leaders and mentors themsleves.</p>
                    </br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zO3zutCAXps" frameborder="0" allowfullscreen></iframe>
                </article>
            </aside>
        </div>
    </ion-content>
</ion-view>
