<ion-view view-title='Math Placement Test'>
    <ion-content class='has-header'>
        <div id="area-header">
            <nav class="area-nav tc-color">
                <ul>
                    <li><a class="link" href="#/home"><i class="icon fccwise ion-ios-home"></i></a></li>
                    <li><a href="#/tutorial-center">Home</a></li>
                    <li><a href="#">Online Tutoring</a></li>
                    <li><a href="#/tutorial-center/meet-staff">Meet the Staff</a></li>
                    <li><a class ="current" href="#/tutorial-center/math-test-prep">Math Test Prep</a></li>
                    <li><a href="#/tutorial-center/search">Find a Tutor</a></li>
                    <li><a href="#">Data &amp; Presentations</a></li>
                </ul>
            </nav>
        </div><!--area-header-->
        <div class="hero math"></div>
        <div id="primary-content">
            <section>
                        <h2 class="title">Math Placement Test Workshop</h2>

                        <span><h3>Math Placement Test Workshop Overview</h3></span>
                        <p> By attending one of the FREE Math Placement Test Workshops you will: </p> 
                        <ul class="content">
                            <li>Learn about the different math test that are available to avoid taking unnecessary classes.</li>
                            <li>Have the opportunity to review sample math questions with a trained tutor.</li> 
                            <li class="last">Be given additional dates and times to take the placement exam</li>
                        </ul>
            
                        <h3>Benefits of Completing the Workshop</h3>
                        <p>As well as saving time and money, you will be able to take the test again prior to the 3 month wait period.</p>
            
                        <h3>Target Audience</h3>
                        <ul class="content">
                            <li>Students who have not taken the placement test.</li>
                            <li>Students who have not taken a math class within the past two years.</li> 
                            <li class="last">Students who were not prepared to take the placement test or need to retake it.</li>
                        </ul>
                    </section>
                    <aside class="clear-background">
                     <h3>Fall 2015 Workshop Schedule</h3>
                     <p class="center">Worshop Location - Tutorial Center &#40;LI 134&#41;</p>
                        <table id="data">
                            <tr>
                            <th width="141">Date</th>
                            <th width="129">Time</th>
                            <tr>
                            <td>Friday, August 28th</td>
                            <td>12:00pm-4:00pm</td>
                            </tr>
                            <tr>
                            <td>Friday, September 11th</td>
                            <td>12:00pm-4:00pm</td>
                            </tr>
                            <tr>
                            <td>Saturday, October 3rd</td>
                            <td>10:00am-2:00pm</td>
                            </tr>
                            <tr>
                            <td>Friday, October 9th</td>
                            <td>12:00pm-4:00pm</td>
                            </tr>
                            <tr>
                            <td>Friday,  October 30th</td>
                            <td>12:00pm-4:00pm</td>
                            </tr>
                            <tr>
                            <td>Friday, November 13th</td>
                            <td>12:00pm-4:00pm</td>
                            </tr>
                             <tr>
                            <td>Saturday, November 21st</td>
                            <td>10:00am-2:00pm</td>
                            </tr>
                            <td>Friday, December 11th</td>
                            <td>12:00pm-4:00pm</td>
                            </tr>
                        </table>
            
                        <p class="center">Check out our <a class ="link" href="pdfs/math_test_prep_summer_2015.pdf"><i class="fa fa-file-pdf-o"></i>&nbsp;Math Test Prep Flyer</a>.</p>   
                    </aside>
                </div>
    </ion-content>
</ion-view>
