<ion-view view-title='Math Placement Test'>
    <ion-content class='has-header'>
        <div class="small-hero tc-red">
            <h1 class="title-tc">Are you ready for your Math Placement Test?</h1>
        </div><!--area-header-->
        <div id="primary-content">
            <section>
                <article>
                    <h2 class="title-tc">MDTP &#40;Arithmetic&#41; Algebra Readiness Test</h2>
                    <h3 class="subtitle">Guide & Practice Test</h3>

                    <p>The Algebra Readiness &#40;AR&#41; Test was designed to measure arithmetic and pre-algebra skills to determine readiness for a first course in algebra through 50 multiple choice questions that must be answered within 45 min. Calculators are not allowed during the exam. Students may be placed into Math 260A through Math 101 &#40;Arithmetic through Elementary  Algebra&#41;</p>

                    <h4>Should I take the Algebra Readiness (AR) Test?</h4>

                    <p>You should take the Algebra Readiness Test if any of the following apply:</p>
                    <ul class="content">
                    <li>You had no high school algebra.</li>
                    <li>You had one year of high school algebra or the equivalent.</li>
                    <li>It has been several years since your last math course.</li>
                    </ul>

                    <p>You should consider taking the Elementary Algebra Test if:</p>
                    <ul class="content">
                    <li>You had two or more years of high school algebra or the equivalent and</li>
                    <li>you received a 'C' or better in your last math course and
                    you completed your last math course in the last two years.</li>
                    </ul>

                    <h4>Skills Assessed are:</h4>
                    <ul class="content">
                    <li>Integers, Fractions, Decimals, Percent & Proportion</li>
                    <li>Exponents & Square Roots</li>
                    <li>Simple Equations & Operations with Literal Symbols</li>
                    <li>Geometry</li>
                    <li>Graphing (Coordinate Points & Number Lines)</li>
                    </ul>

                    <h4>Your Goal:</h4>
                    <p class="last">Although the topics may be scattered throughout the exam, you must pass each topic before you would be placed into the next course. Your goal may not be to get an 'A', but to review topics you have already learned through sample tests and other materials to be appropriately  placed.
                    </p>

                    <table width="650" id="data">
                    <tr>
                    <td width="140">Whole Numbers</td>
                    <td width="93">Math 260A</td>
                    <td width="351">    Place into 260A with less than 15 correct of the 50
                    questions</td>
                    </tr>
                    <tr>
                    <td>Fractions</td>
                    <td>Math 260B</td>
                    <td>Must have at least 15 correct AND 619 fraction questions correct to show mastery of 260B</td>
                    </tr>
                    <tr>
                    <td>Decimals</td>
                    <td>Math 260C</td>
                    <td>Must have mastery of 260B and below AND at least 6/9 decimal questions correct to be placed above 260C</td>
                    </tr>
                    <tr>
                    <td>Ratio, Proportion, &amp; Percent</td>
                    <td>Math 260D</td>
                    <td>Must have mastery of 260C and below AND at least 7/10 ratio, percent, &amp; proportion questions correct to be places above 260D</td>
                    </tr>
                    <tr>
                    <td>Pre-Algebra</td>
                    <td>Math 255</td>
                    <td>Must have mastery of 260D and below AND 16/22 pre-algebea questions correct to be placed above 255</td>
                    </tr>
                    <tr>
                    <td>Elem Algebra</td>
                    <td>Math 101</td>
                    <td>Must master all topics.</td>
                    </tr>
                    </table>
                    <p class="last">To download the pdf version of the Algebra Readiness Test, please click the link below.</p>
                    <a class="pdf_btn" href="pdfs/algebra_ready.pdf">Download</a>
                </article>
                <article>
                    <h2 class="title-tc">MDTP Elementary Algebra Readiness Test</h2>
                    <h3 class="subtitle">Guide & Practice Test</h3>

                    <p>The Elementary Algebra &#40;EA&#41; Test was designed to determine readiness for a second­ year algebra course through 50 multiple choice questions that must be completed within 45 minutes. Calculators are not allowed during the exam. Students may be placed into Math 255 through Math 103 &#40;Pre-Algebra through Intermediate Algebra&#41;</p>

                    <h4>Should I take the Elementary Algebra Readiness &#40;EA&#41; Test?</h4>

                    <p>You should take the Elementary Algebra Test if:</p>
                    <ul class="content">
                    <li>You had two or more years of high school algebra or the equivalent and</li>
                    <li>you received a 'C' or better in your last math course and</li>
                    <li>you completed your last math course in the last two years.</li>
                    </ul>

                    <p>You should take the Intermediate Algebra test if:</p>
                    <ul class="content">
                    <li>You are very confident in your algebra skills and</li>
                    <li>you have taken a course above Intermediate Algebra and</li>
                    <li>you received a grade of 'B' or better in your last recently completed math course.</li>
                    </ul>


                    <h4>Skills Assessed are:</h4>
                    <ul class="content">
                    <li>You received a grade of 'B' or better in your last recently completed math course.</li>
                    <li>Polynomials</li>
                    <li>Linear Equations &#38; Inequalities</li>
                    <li>Quadratic Equations</li>
                    <li>Graphing</li>
                    <li>Rational Expressions</li>
                    <li>Exponents & Square Roots</li>
                    <li>Geometry</li>
                    <li>Word Problems</li>
                    </ul>

                    <h4>Your Goal:</h4>
                    <p class="last">Your goal may not be to get an 'A', but to review topics you have already learned through sample tests and other materials to be appropriately placed.
                    </p>

                    <table width="700" id="data">
                    <tr>
                    <td> Pre-Algebra</td>
                    <td>Math 255</td>
                    <td>Placed into pre-algebra with less than 18 questions correct out of 50.</td>
                    </tr>
                    <tr>
                    <td>Elementary Algebra</td>
                    <td>Math 101</td>
                    <td>Placed into elementary algebra with 18-34 correct questions.</td>
                    </tr>
                    <tr>
                    <td>Intermediate Algebra</td>
                    <td>Math 103</td>
                    <td>Placed into intermediate algebra with 35-50 correct questions.</td>
                    </tr>
                    </table>

                    <p class="last">To download the pdf version of the Elementary Algebra Readiness Test, please click the link below.</p>
                    <a class="pdf_btn" href="pdfs/elementary.pdf">Download</a>
                </article>
                <article>
                    <h2 class="title-tc">MDTP Intermediate Algebra Readiness Test</h2>
                    <h3 class="subtitle">Guide & Practice Test</h3>

                    <p>The Intermediate Algebra Test was designed to determine readiness for a pre-calculus course or other courses at that level through 45 multiple choice questions that must be completed within 45 minutes. Calculators are not allowed during the exam. Students may be placed into Math 103 &#40;Intermediate Algebra&#41; or transfer-level courses.</p>

                    <h4>Should I take the Intermediate Algebra Readiness &#40;IA&#41; Test?</h4>

                    <p>You should take the Intermediate Algebra Test if:</p>
                    <ul class="content">
                    <li>You are very confident in your algebra skills <em>and</em></li>
                    <li>you have taken a course above Intermediate Algebra <em>and</em></li>
                    <li>you received a grade of 'B' or better in your last recently completed math course.</li>

                    <p>Otherwise, see the Algebra Readiness &#40;AR&#41; or Elementary Algebra &#40;EA&#41; placement tests.


                    <h4>Skills Assessed are:</h4>
                    <ul class="content">
                    <li>Simplifying & Evaluating Expressions</li>
                    <li>Polynomials</li>
                    <li>Linear Equations, Inequalities, & Systems</li>
                    <li>Rational Expressions & Equations</li>
                    <li>Quadratic Equations, Inequalities, & Complex Numbers</li>
                    <li>Logarithmic/Exponential Expressions & Equations</li>
                    <li>Radical Expressions & Equations</li>
                    <li>Graphing</li>
                    <li>Applications</li>
                    </ul>

                    <h4>Your Goal:</h4>
                    <p class="lastpar">Your goal may not be to get an 'A', but to review topics you have already learned through sample tests and other materials to be appropriately placed.
                    </p>

                    <table width="650" id="data">
                    <tr>
                    <td> Retake</td>
                    <td></td>
                    <td>You must retake a placement test if you receive less than 18 correct of the 45 questions.</td>
                    </tr>
                    <tr>
                    <td>Intermediate Algebra</td>
                    <td>Math 103</td>
                    <td>Placed into intermediate algebra with 18-32 correct questions.</td>
                    </tr>
                    <tr>
                    <td>Transfer Level Math</td>
                    <td>e.g. Math 4A, 10, 11, 21, 42, 45 etc.</td>
                    <td>Placed into transfer-level math with 33-45 correct questions.</td>
                    </tr>
                    </table>
                    <p class="last">To download the pdf version of the Intermediate Algebra Readiness Test, please click the link below.</p>
                    <a class="pdf_btn" href="pdfs/intermediate.pdf">Download</a>
                </article>
            </section>
            <aside class="clear-background">
             <h3>Fall 2015 Workshop Schedule</h3>
             <p class="center">Worshop Location - Tutorial Center &#40;LI 134&#41;</p>
                <table id="data">
                    <tr>
                    <th width="141">Date</th>
                    <th width="129">Time</th>
                    <tr>
                    <td>Friday, August 28th</td>
                    <td>12:00pm-4:00pm</td>
                    </tr>
                    <tr>
                    <td>Friday, September 11th</td>
                    <td>12:00pm-4:00pm</td>
                    </tr>
                    <tr>
                    <td>Saturday, October 3rd</td>
                    <td>10:00am-2:00pm</td>
                    </tr>
                    <tr>
                    <td>Friday, October 9th</td>
                    <td>12:00pm-4:00pm</td>
                    </tr>
                    <tr>
                    <td>Friday,  October 30th</td>
                    <td>12:00pm-4:00pm</td>
                    </tr>
                    <tr>
                    <td>Friday, November 13th</td>
                    <td>12:00pm-4:00pm</td>
                    </tr>
                     <tr>
                    <td>Saturday, November 21st</td>
                    <td>10:00am-2:00pm</td>
                    </tr>
                    <td>Friday, December 11th</td>
                    <td>12:00pm-4:00pm</td>
                    </tr>
                </table>

                <p class="center">Check out our <a class ="link" href="pdfs/math_test_prep_summer_2015.pdf"><i class="fa fa-file-pdf-o"></i>&nbsp;Math Test Prep Flyer</a>.</p>
            </aside>
                </div>
    </ion-content>
</ion-view>
