<ion-view view-title='Meet the Staff'>
    <ion-content class='has-header'>
     <div id="area-header">
               <nav class="area-nav tc-color">
                    <ul>
                        <li><a href="#/tutorial-center">Home</a></li>
                        <li><a href="#">Online Tutoring</a></li>
                        <li><a class ="current" href="#/tutorial-center/meet-staff">Meet the Staff</a></li>
                        <li><a href="#/tutorial-center/math-test-prep">Math Test Prep</a></li>
                        <li><a href="#/tutorial-center/search">Find a Tutor</a></li>
                        <li><a href="#">Data &amp; Presentations</a></li>
                    </ul>
                </nav>
              <!--   <div class="hero tc"></div> -->
            </div><!--area-header-->
            <div id="staff">
                <section id="page-content">
                    <h2>Meet the Staff</h2>
                    <article class="meet-staff">
                        <div class="feature_box">
                            <img src="../img/ray.jpg">
                            <div class="staff_contact">
                            <h3 class="name">Ray Sanchez</h3>
                            <p>Tutorial Center Coordinator</p>
                            <p><i class="icon ion-email"></i>&nbsp;<a class="link" href="mailto:ray.sanchez@fresnocitycollege.edu">ray.sanchez@fresnocitycollege.edu</a></p>
                            <p><i class="icon ion-android-call"></i>&nbsp;<a class="link" href="tel:+5594428209">559-442-8209</a></p>
                            </div><!--staff_contact-->
                        </div><!--feature_box-->
                      
                          <div class="feature_box">
                            <img src="../img/alejandra2.jpg">
                            <div class="staff_contact">
                            <h3 class="name">Alejandra Martinez</h3>
                            <p>Adjunct Faculty</p>
                            <p><i class="icon ion-email"></i>&nbsp;<a class="link" href="mailto:alejandra.martinez@fresnocitycollege.edu">Alejandra.martinez@fresnocitycollege.edu</a></p>
                            <p><i class="icon ion-android-call"></i>&nbsp;<a class="link" href="tel:+5594428209">559-442-8209</a></p>
                            </div><!--staff_contact-->
                          </div><!--feature_box-->
                      
                          <div class="feature_box">
                            <img src="../img/soheil.jpg">
                            <div class="staff_contact">
                            <h3 class="name">Soheil Partoviamin</h3>
                            <p>Adjunct Faculty</p>
                            <p><i class="icon ion-email"></i>&nbsp;<a class="link" href="mailto:soheil.partoviamin@fresnocitycollege.edu">soheil.partovimin@fresnocitycollege.edu</a></p>
                            <p><i class="icon ion-android-call"></i>&nbsp;<a class="link" href="tel:+5594428209">559-442-8209</a></p>
                            </div><!--staff_contact-->
                          </div><!--feature_box-->
                          <div class="feature_box">
                            <img src="../img/dean.jpg">
                            <div class="staff_contact">
                            <h3 class="name">Dean Christensen</h3>
                            <p>Adjunct Faculty</p>
                            <p><i class="icon ion-email"></i>&nbsp;<a class="link" href="mailto:dean.christensen@fresnocitycollege.edu">dean.christensen@fresnocitycollege.edu</a></p>
                            <p><i class="icon ion-android-call"></i>&nbsp;<a class="link" href="tel:+5594428209">559-442-8209</a></p>
                            </div><!--staff_contact-->
                          </div><!--feature_box-->
                    </article>
                </section>
            </div><!--primary-content-->   
    </ion-content>
</ion-view>
