<ion-view view-title='PASS'>
    <ion-content class='has-header padding'>
        <div id="area-header">
            <nav class="area-nav pass-color">
                <ul>
                    <li><a class ="current" href="#">PASS Home</a></li>
                    <li><a href="#">Online Tutoring</a></li>
                    <li><a href="#">Brain Food</a></li>
                    <li><a href="#">Success with PASS</a></li>
                </ul>
            </nav>
            <div class="hero pass"></div>
        </div>
        <div id="primary-content">
            <section>
                <h2>THE PEER ASSISTED STUDY SESSIONS &lpar;PASS&rpar;</h2>

                <p>The Peer Assisted Study Sessions (PASS) Program's mission is to increase student success, retention, and GPA through embedded tutoring and supplemental instruction adaptation practices in English and EMLS courses and learning communities. PASS aims to increase student equity and serves cohort programs with students from disproportionately impacted backgrounds, basic skills, EMLS, and select courses for graduation, matriculation, and transfer. We believe all students should have the opportunity to succeed with enhanced reading and writing skills.</p>

                <p>PASS leaders (tutors) are "model" students that provide peer mentorship with writing and reading skills to PASS students through scheduled group and individual tutoring sessions outside of class time in a face-to-face or online environment.</p>

                <p>In addition, PASS leaders attend class throughout the week with students and have access to instructors and class material. In an effort to increase student success, PASS leaders provide weekly feedback to instructors regarding student progress. All PASS leaders are also involved in ongoing training with the PASS coordinator.</p>

                <p>PASS sessions are located in the PASS Center (LI-204).</p>

                <p>Click on <a class="inline-link" href="https://docs.google.com/forms/d/11P2AAxLUSHLlCh1Jni3QOQBEqIWFhjxFST8RpMZ7HtE/viewform?c=0&amp;w=1">PASS FORM</a> here to join PASS.</p>
            </section>
            <aside>
                <h2>Online Tutoring</h2>
                <p class="space-after">We offer friendly, live, online tutoring:</p>
                <a class = "btn btn-pass-color" href="https://scccd.blackboard.com/webapps/blackboard/content/listContentEditable.jsp?content_id=_2651947_1&course_id=_111657_1&mode=reset">Online Tutoring</a>
            </aside>
        </div><!--primary-content-->
    </ion-content>
</ion-view>
