<ion-view view-title='PASS'>
    <ion-content>
           <div class="small-hero pass-yellow">
                <h1>&quot;We offer friendly, live, online training&quot;</h1>
            </div>
        </div>
        <div id="primary-content">
            <section>
                <h2 class="title">PASS Online Tutoring</h2>
            
            <h3>How to access online tutoring for (PASS) </h3>
            <p>The Tutorial Center at Fresno City College has recently started using the Worldwide Whiteboard.  The Worldwide Whiteboard is an online tool used to connect students with their tutors.  The following video shows PASS students how to access the online tutorial feature for Worldwide Whiteboard.</p>

              <br>
              <h3>ONLINE TUTORING FOR PASS VIDEO:</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/fHYSqPMv40o" frameborder="0" allowfullscreen></iframe>
              <p>If you do not have a scheduled Online PASS tutoring session, Please Call <a href="tel:+5594424600">559-442-4600</a>, then press # # followed by ext. 2412. Otherwise, you may log in at your scheduled time.</p>
              <p>If you would like to work on a word document, you will need to convert the document to PDF or email the document to the tutor so he or she can convert it for you. Please ask your tutor about converting your document at beginning of your session. After speaking with your tutor, email your document to  <a href="mailto:fccpass@gmail.com.">fccpass@gmail.com</a>. In the subject line, please write your first and last name and Online PASS Tutoring.</p>
            </section>
            <aside>
                <h2>Online Tutoring</h2>
                <p class="center">We offer friendly, live, online tutoring:</p>
                <p class="center space-after">Be sure to log into blackboard before clicking the link:</p>
                <a class = "btn btn-pass-color" href="https://scccd.blackboard.com/webapps/blackboard/content/listContentEditable.jsp?content_id=_2730114_1&course_id=_116714_1">Online Tutoring</a>
            </aside>
        </div>
    </ion-content>
</ion-view>
