<ion-view view-title='Find a Tutor'>
    <ion-content class='has-subheader padding'>
       <h1>How to find a Tutor</h1>
            <div class="grid">
                <section class="search">
                    <h2 class="tc-search">Tutorial Center Schedule</h2>
                    <img class="icon" src="../img/tc_icon_red.png">
                </section>
                <section class="search">
                    <h2 class="etc-search">Extending the Class Schedule</h2>
                    <img class="icon" src="../img/etc_icon_purple.png">
                </section>
                <section class="search">
                    <h2 class="wrc-search">WRC <br><span>&#40;Writing &amp; Reading Center&#41;</span></h2>
                    <img class="icon" src="../img/wrc_icon_orange.png">
                    <p>The PASS Team is comprised of four peer leader positions:</p>
                    <ul>
                      <li>PASS Assistant to the Coordinator (PAC):</li>
                      <li>PASS Front Desk-Personnel</li>
                      <li>PASS Leader</li>
                      <li>PASS Supporter</li>
                    </ul>
                    <p>Each position is integral to the success of PASS and our students!</p>  

                    <p>The PASS team is located in the PASS Center and a classroom near you!</p>
                </section>
                <section class="search">
                    <h2 class="pass-search">PASS <br> <span>&#40;Peer Assisted Study Sessions&#41;</span></h2>
                    <img class="icon" src="../img/pass_icon_yellow.png">
                    <p>The PASS Team is comprised of four peer leader positions:</p>
                    <ul>
                      <li>PASS Assistant to the Coordinator (PAC):</li>
                      <li>PASS Front Desk-Personnel</li>
                      <li>PASS Leader</li>
                      <li>PASS Supporter</li>
                    </ul>
                    <p>Each position is integral to the success of PASS and our students!</p>  

                    <p>The PASS team is located in the PASS Center and a classroom near you!</p>
                </section>
            </div>  
    </ion-content>
</ion-view>
