<ion-header-bar class='bar-assertive' style='background: #d0103a;'>
    <button class="button button-clear">
        <i class="icon ion-navicon"></i>
    </button>
    <h1 class="title">FCCWise</h1>
</ion-header-bar>

<ion-content class='has-header' id='slide-menu'>
    <ion-list>
        <ion-item href='#/home' name='home'>Home</ion-item>
        <ion-item href='#'>Tutor Search</ion-item>
        <ion-item href='#'>Online Tutoring</ion-item>
        <ion-item href='#'>Tutorial Center</ion-item>
        <ion-item href='#'>Extending the Class</ion-item>
        <ion-item href='#'>Writing &amp; Reading Center</ion-item>
        <ion-item href='#'>PASS</ion-item>
    </ion-list>
</ion-content>

<ion-footer-bar>
    <section>
        <img ng-src="img/fcc_logo_wordmark_k.png" alt="FCC Logo">
        <span>1101 E.University Avenue, Fresno, CA 93741 Tel: 559-442-4600</span>
    </section>
    <ul>
        <li><a href="http://fresnocitycollege.edu" target='_blank'>Fresno City College Home</a></li>
        <li><a href="https://blackboard.fresnocitycollege.edu" target='_blank'>Blackboard</a></li>
        <li><a href="http://webadvisor.scccd.edu/" target='_blank'>Web Advisor</a></li>
        <li><a href="https://login.live.com" target='_blank'>Student Email</a></li>
    </ul>
</ion-footer-bar>
