<ion-view view-title='Starting An ETC Program'>
    <ion-content class='has-header'>
        <div id="area-header">
            <div class="small-hero etc-purple">
            <h1>How to start and ETC Program</h1>
            </div>
        </div>
        <div id="primary-content">
            <section>
                <h2 class="title">Starting an ETC Program</h2>
                <h3>ETC Background and Objectives</h3>
                <p>ETC is modelled on the nationally recognized Supplemental Instruction (SP) program that began in 1973. SI was piloted at Fresno City College in Spring 2007 and changed to ETC in 2008. Extending the Class better encompassed the goals and missions at Fresno City College by targeting high risk courses and linking those courses to peer leaders who have mastered course content.  The Preparations of the ETC Leaders is critical to the success of the program, but they must also have the fexibility and motivation to see their objectives through to completion.  Here at FCC we understand the importance of data driven results and ETC had been proven to be extremely successful in meeting our objectives.</p>

                <p> The goal of the ETC is to help students become independent learners through well organised and structured active learning strategies, positive practice and peer guidance.  Goals of the ETC Program are as follows:</p>

                <ul class="content">
                    <li>Improve student GPA</li>
                    <li>Increase successful completion rates</li>
                    <li class="last">Increase rates of retention</li>
                </ul>

                <h3 class="space">Benefits of the ETC</h3>
                <h4>To Students</h4>
                <ul class="content">
                <li>Acquire short term and long term study skills</li>
                <li>Learn how to organize and spend more time on task with class materials</li>
                <li>Prepare more thoroughly for exams, both content and format</li>
                <li>Receive higher course grades</li>
                <li class="last">Become independent learners while also collaborating with their peers</li>
                </ul>
                <h4>To Faculty</h4>
                <ul class="content">
                    <li>Receive feedback on student progress from ETC Leader</li>
                    <li>Provide students with opportunities for success</li>
                    <li>Improve student interaction in class</li>
                    <li>See more students succeed and continue in course sequence</li>
                    <li class="last">Work closely with and mentor top students</li>
                </ul>
                <h4>To the Institution</h4>
                <ul class="content">
                    <li>Report higher grade rates</li>
                    <li>Lower rates of students earning D's, F's and withdrawals</li>
                    <li>Create a sense of community</li>
                    <li>Bridge the gap between student ability levels</li>
                    <li class="last">Provide cost efficient academic support </li>
                </ul>
                <h3 class="space">How to get Started</h3>
                <p>The Extending the Class (ETC) Program at FCC believes in the capacity of creating life long learners in our student body. One cost effective way to instill those fundamental study skills, while creating specific pathways to success for our student body, is through the ETC Program. If you or your educational institution are intereseted in creating an Extending the Class (ETC) Program on your campus, please contact the ETC Coordinator at <a href="tel:+5594428209">559-442-8209.</a> We are more than willing to share what we have learned about the implementaion and success of such a program. Here are some logistics to think about when considering an ETC program:</p>

                <ul class="content">
                    <li>Funding Stream</li>
                    <li>Space Allocation</li>
                    <li>Administrative Support</li>
                    <li>Faculty Support</li>
                    <li>Effective ETC Leaders and Training</li>
                    <li class="last">Appointing an ETC Supervisor for the Program</li>
                </ul>

                <a class="link" href="http://fccwise.fresnocitycollege.edu/pages/fccwise_complete/etcwebsite/impact_of_etc_on_student_academic_achievement_2011.pdf"><i class="icon ion-archive"></i>&nbsp;Impact of ETC Program</a>

            </section>
            <aside class="supplemental">
                    <h3 class="space">ETC Mentor Program</h3>
                    <p>The ETC Mentor Program was created to assist ETC Leaders in planning, implementing and developing ETC sessions. To find out more about ETC Mentors, check out the video below to hear it from leaders and mentors themselves.</p>
                    </br>
                    <iframe src="https://www.youtube.com/embed/zO3zutCAXps">
            </aside>
        </div>
    </ion-content>
</ion-view>
