<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Suggestions</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSuggestion()">
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="reportData.name" placeholder='Name'>
        </label>
        <label class="item item-input">
          <textarea placeholder='Leave a suggestion' ng-model='reportData.suggestion'></textarea>
        </label>
        <label class="item item-input">
          You are here: {{reportData.currentPage}}
        </label>
        <label class="item">
          <button class="button button-block button-assertive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
