<ion-view view-title='Tutorial Center'>
    <ion-content class='has-header'>
                   <div id="area-header">
                <nav class="area-nav tc-color">
                    <ul>
                        <li><a class="link" href="#/home"><i class="icon fccwise ion-ios-home"></i></a></li>
                        <li><a class ="current" href="#/tutorial-center">TC-Home</a></li>
                        <li><a href="https://scccd.blackboard.com/webapps/blackboard/execute/announcement?method=search&context=course_entry&course_id=_111657_1&handle=announcements_entry&mode=view">Online Tutoring</a></li>
                        <li><a href="/#/tutorial-center/meet-staff">Meet the Staff</a></li>
                        <li><a href="#/tutorial-center/math-test-prep">Math Placement Test Workshops</a></li>
                        <li><a href="#/tutorial-center/math-placement-resources">Math Placement Test Resources</a></li>
                        <li><a href="/#/tutorial-center/search">Find a Tutor</a></li>
                        <li><a href="#">Data &amp; Presentations</a></li>
                    </ul>
                </nav>
                <div class="hero tc"></div>
            </div><!--area-header-->
            <div id="primary-content">
                <section>
                    <h2>Tutorial Center</h2>
                    <p>The mission of the Tutorial Center is to provide comprehensive academic support services to assist students in developing and strengthening the knowledge and skills needed to reach their academic goals.</p> 

                    <p>The primary function of the Tutorial Center is to provide peer assisted learning. Peer facilitation/tutoring promotes independence in learning and provides needed academic assistance to students. Independence in learning is fostered in a tutoring environment by engaging students with effective questions. The center’s tutoring philosophy is “questions before answers.” The types and frequency of questions tutors ask, therefore, are more important than the answers they give. Tutors guide, coach, encourage, and model how successful students excel in college.</p>

                    <h3>What to expect – for students</h3>
                    <p>All of our services are free to currently enrolled Fresno City College students. There are no appointments; just stop by and meet with a tutor during our open hours:</p>

                    <table id="data">
                        <tr>
                            <td width="119">Monday</td>
                            <td width="169">7:30am - 4:30pm</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>7:30am - 4:30pm</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>7:30am - 4:30pm</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>   
                            <td>7:30am - 4:30pm</td>    
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>7:30am - 2:00pm</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>9:00am - 2:00pm</td>
                        </tr>
                    </table>

                    <h3>What to expect – for faculty</h3>
                    <p>Tutors and ETC Leaders promote independence in learning, give students tools and strategies to succeed on their own, foster a love of learning, provide guided practice and (lots!!) of independent practice, foster the grit necessary to persevere, have high expectations, and facilitate discussion and dialogue rather than lecture and pontificate.</p>

                    <ul class="content">
                    <li>Want to know more about our services?</li>
                    <li>Want to recommend a tutor or ETC Leader?</li> 
                    <li class="last">Do you have ideas or suggestions?</li>
                    <p>Please contact Ray M. Sanchez: <a class="link" href="tel:+5594428209">559-442-8209</a></p>
                    <p>E-mail: <a class="link" href="mailto:ray.sanchez@fresnocitycollege.edu">ray.sanchez@fresnocitycollege.edu</a></p>
                    
                    <P><B>GRASP VIDEO</B></p>
                    <iframe src="https://www.youtube.com/embed/DqoQ98ldau4" frameborder="0" allowfullscreen></iframe>
                    </ul>
                </section>
                <aside>
                    <h2>Online Tutoring</h2>
                    <p class="center space-after">We offer friendly, live, online tutoring:</p>
                    <a class = "btn-tc-color btn" href="https://scccd.blackboard.com/webapps/blackboard/content/listContentEditable.jsp?content_id=_2651947_1&course_id=_111657_1&mode=reset">Online Tutoring</a>
                </aside>
            </div><!--primary-content-->  
    </ion-content>
</ion-view>
