<ion-view view-title='Find a Tutor'>
    <ion-content class='has-header padding'>
       <h1 style='text-align: center;' class="tutor-portal">Become a Tutor</h1>
            <div class="application-container">
                <section>
                    <h2 class="tutor-app">Tutor Application</h2>
                    <img class="search_icon" src="../img/tc_icon_red.png">
                    <!-- change this back to /#/{{location}}/search when pushed to production -->
                    <a href='http://fccwise.fresnocitycollege.edu/tutorialcenter/tutorapplication/tutorlogin.php' class='tc_search_button gen-btn'>Apply Here</a>
                    <h2 class="tutor-app">Front Desk Application</h2>
                    <img class="search_icon" src="../img/icon_front-desk-red.png">
                    <!-- change this back to /#/{{location}}/search when pushed to production -->
                    <a href='https://www.cognitoforms.com/FresnoCityCollege1/FresnoCityCollegeTutorialCenterFrontDeskApplication' class='tc_search_button gen-btn'>Apply Here</a>
                </section>
                <section>
                    <h2 class="tutor-app">ETC Application</h2>
                    <img class="search_icon" src="../img/etc_icon_purple.png">
                    <!-- change this back to /#/{{location}}/search when pushed to production -->
                    <a href='http://fccwise.fresnocitycollege.edu/tutorialcenter/tutorapplication/tutorlogin.php' class='etc_search_button gen-btn'>Search for a Tutor</a>
                    <h2 class="tutor-app">Front Desk Application</h2>
                    <img class="search_icon" src="../img/icon_front-desk-purple.png">
                    <!-- change this back to /#/{{location}}/search when pushed to production -->
                    <a href='https://www.cognitoforms.com/FresnoCityCollege1/FresnoCityCollegeTutorialCenterFrontDeskApplication' class='etc_search_button gen-btn'>Apply Here</a>
                </section>
                <section>
                    <h2 class="tutor-app">Become a PASS Leader</h2>
                    <img class="search_icon" src="../img/pass_icon_yellow.png">
                    <!-- change this back to /#/{{location}}/search when pushed to production -->
                    <a href='https://www.cognitoforms.com/FresnoCityCollege1/PASSLeaderTutorApplication' class='pass_search_button gen-btn'>Apply Here</a>
                    <h2 class="tutor-app">Front Desk Application</h2>
                    <img class="search_icon" src="../img/icon_front-desk-yellow.png">
                    <a href='https://www.cognitoforms.com/FresnoCityCollege1/PASSFrontDeskStudentAideApplication' class='pass_search_button gen-btn'>Search for a Tutor</a>
                </section>
                <section>
                    <h2 class="tutor-app">Writing &amp; Reading Center</h2>
                    <img class="search_icon" src="../img/wrc_icon_orange.png">
                    <p>Please contact the </br>Writing &amp; Reading Center</br>for an Application to </br>become and tutor</p>
                </section>
            </div>
    </ion-content>
</ion-view>
