<ion-view view-title='Writing and Reading Center Workshops'>
    <ion-content class='has-header'>
        <div id="area-header">
            <div class="small-hero wrc-orange">
                <h1>Essential Skills Workshops are the way to go!</h1>
            </div>
        </div><!--area-header-->
        <div id="primary-content">
        <section>
            <h3>Essential Skills Workshops</h3>
            <p>FCC is very excited to offer the Essential Skills Workshops for summer 2015 &#40Four week Session&#41 & The Essential Skills Workshops is a ½ unit non-transferable course offered in the 4 week summer session. The workshops are approximately 50 minutes and are open to all students. However, the ½ unit credit will only be earned by students enrolled in the course who complete a minimum of 8 workshops. We look forward to a successful and productive summer. </p>
            <p>All sessions are on a drop-in basis and are absolutely FREE!</p>
            <p>The Essential Skills Calendar is as follows for the 4 week summer session:</p>

            <table width="670" id="data">
                <tr>
                <th width="190">Date</th>
                <th width="285">Description</th>
                <th width="160">Time</th>
                <th width="25">Location</th>
                </tr>
                <tr>
                <td>Sat, June 6th</td>
                <td>English Readiness</td>
                <td>12:00pm - 3:00pm</td>
                <td>LI-134</td>
                </tr>
                <tr>
                <td>Tue, June 9th</td>
                <td>English Readiness</td>
                <td>11:00am - 2:00pm</td>
                <td>LI-134</td>
                </tr>
                <tr>
                <td>Wed, June 10th</td>
                <td>English Readiness</td>
                <td>11:00am - 2:00pm</td>
                <td>LI-134</td>
                </tr>
                <tr>
                <td>Wed, June 10th</td>
                <td>Library Catalog &#38 Search Strategy Construction</td>
                <td>12:00pm - 1:00pm</td>
                <td>LI-134</td>
                </tr>
                <tr>
                <td>Wed, June 10th</td>
                <td>Research Databases</td>
                <td>1:00pm - 2:00pm</td>
                <td>LI-134</td>
                </tr>
                <tr>
                <td>Thur, June 11th</td>
                <td>Internet Optimization</td>
                <td>12:00pm - 1:00pm</td>
                <td>LI-134</td>
                </tr>
                <tr>
                <td>Thur, June 11th</td>
                <td>Plagiarism&#47Citation</td>
                <td>1:00pm - 2:00pm</td>
                <td>LI-134</td>
                </tr>
                <tr>
                <td>Sat, June 13th</td>
                <td>English Readiness</td>
                <td>12:00pm - 3:00pm</td>
                <td>LI-134</td>
                </tr>
                <tr>
                <td>Tue, June 16th</td>
                <td>English Readiness</td>
                <td>11:00am - 2:00pm</td>
                <td>LI-134</td>
                </tr>
                <tr>
                <td>Tue, June 16th</td>
                <td>Financial Aid Workshop</td>
                <td>2:00pm - 2:50pm</td>
                <td>LI-142</td>
                </tr>
                <tr>
                <td>Wed, June 17th</td>
                <td>English Readiness</td>
                <td>11:00am - 2:00pm</td>
                <td>LI-134</td>
                </tr>
                <tr>
                <td>Wed, June 17th</td>
                <td>Library Catalog &#38 Search Strategy Construction</td>
                <td>12:00pm - 1:00pm</td>
                <td>LI-142</td>
                </tr>
                <tr>
                <td>Wed, June 17th</td>
                <td>Research Databases</td>
                <td>1:00pm - 2:00pm</td>
                <td>LI-142</td>
                </tr>
                <tr>
                <td>Thur, June 18th</td>
                <td>Internet Optimization</td>
                <td>12:00pm - 1:00pm</td>
                <td>LI-142</td>
                </tr>
                <tr>
                <td>Thur, June 18th</td>
                <td>Plagiarism&#47Citation</td>
                <td>1:00pm - 2:00pm</td>
                <td>LI-142</td>
                </tr>
                <tr>
                <td>Sat, June 20th</td>
                <td>English Readiness</td>
                <td>12:00pm - 3:00pm</td>
                <td>LI-134</td>
                </tr>
            </table>

            <p>Workshops are about 50 minutes long and there is no sign up. You just show up on the date and time of the workshop. Workshops begin the third week of the semester and there are several topics in one week, so if you miss one, check the calendar for the next one.</p>

            <ul class="pdf">
                <li><a class="link"href="http://fccwise.fresnocitycollege.edu/fccwise2/pdfs/essential_skills_calendar_4-week_session.pdf"><i class="icon ion-archive"></i>&nbsp;Check out our calendar for June 2015</a></li>
                <li><a class="link" href="pdfs/essential_skills_sp2015.pdf"><i class="icon ion-archive"></i>&nbsp;Check out our June Workshops Flyer</a></li>
            </ul>
            <p><em>The workshops include:</em></p>
            <ul>
                <li>Study skills</li>
                <li>Test-taking skills</li>
                <li>Reading comprehension</li>
                <li>Essay writing</li>
                <li>Essay formatting</li>
                <li>Avoiding plagiarism</li>
                <li>Punctuation and grammar</li>
            <ul>

        </section>
            <aside>

            </aside>
        </div><!--primary-content-->
    </ion-content>
</ion-view>
