<ion-view view-title='Writing &amp; Reading Center'>
    <ion-content>
        <div id="area-header">
            <div class="small-hero wrc-orange">
                <h1>&quot;We offer friendly, live, online tutoring&quot;</h1>
            </div>
        <div id="primary-content">
            <section>
                <h2 class="title">Online Tutoring</h2>

                <h3>How to access online Writing Center Tutors</h3>
                <p>The Tutorial Center at Fresno City College has recently started using the Worldwide Whiteboard.  The Worldwide Whiteboard is an online tool used to connect students with their tutors.  The following video shows students of the Writing and Reading Center, how to access the online tutorial feature for Worldwide Whiteboard.</p>
                <h3>ONLINE TUTORING FOR PASS VIDEO:</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Sf4SXbWkuco" frameborder="0" allowfullscreen></iframe>
                <!--If you need tutoring after 4:30pm, please press here: (NINA ASK JON FOR THE NET TUTOR LINK FOR AFTER HOURS TUTORING)-->
                <p> For help, please call <a class="link" href="tel:+5594428205"><span>559-442-8205</a></span></p>
                <p>If you would like to work on a word document, you will need to convert the document to PDF or email the document to the tutor so he or she can convert it for you. Please ask your tutor about converting your document at beginning of your session. After speaking with your tutor, email your document to <a href="mailto:onlinewritingcenter@fresnocitycollege.edu.">onlinewritingcenter@fresnocitycollege.edu.</a> In the subject line, please write your first and last name and Online Tutoring.
                </p>
            </section>
            <aside>
                <h2>Online Tutoring</h2>
                <p class="center">We offer friendly, live, online tutoring:</p>
                <p class="center space-after">Be sure to log into blackboard before clicking the link:</p>
                <a target="_blank" class = "btn btn-wrc-color" href="https://scccd.blackboard.com/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_60_1">Online Tutoring</a>
            </aside>
        </div><!--primary-content-->
    </ion-content>
</ion-view>
