<ion-view view-title='Writing &amp; Reading Center Resources'>
    <ion-content>
        <div id="area-header">
            <div class="small-hero wrc-orange">
                <h1>&quot;We offer friendly, live, online tutoring&quot;</h1>
            </div>
        <div id="primary-content">
            <section>
              <h2 class="title">Writing &amp; Reading Center Resources</h2>
<!--            <img class="headImage" alt="Enxtending the Class" src="images/tutorial_home.png">
-->

            <h3>Writing Resources</h3>
            <h5>Writing Style Guides:</h5>

            <p>You’ve written your essay and your instructor has asked you to use MLA or APA formatting. &#40;There are many other types of formatting, but we have only included MLA and APA because they are the most common&#41;. Each has its own particular set of “rules” or “guidelines.” In the resources below, we’ve included example citations, example formatting, and common questions or concerns about citing.</p>
            <ul class="res">
                <li><a href="http://fccwise.fresnocitycollege.edu/fccwise2/pdfs/apa_handout.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;APA Handout</a></li>
                <li><a href="http://fccwise.fresnocitycollege.edu/fccwise2/pdfs/help_with_quoting.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Can You Help Me with Quoting?</a></li>
                <li><a href="http://fccwise.fresnocitycollege.edu/fccwise2/pdfs/mla_text_citations.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;MLA In-Text Citation</a></li>
                <li><a href="http://fccwise.fresnocitycollege.edu/fccwise2/pdfs/mla_paper_format_works_cited.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;MLA Paper Handout + Works Cited</a></li>
                <li><a href="http://fccwise.fresnocitycollege.edu/fccwise2/pdfs/straight_talk_bw.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Straight Talk About Plagiarism</a></li>
                <li><a href="http://fccwise.fresnocitycollege.edu/fccwise2/pdfs/why_summarize_paraphrase_or_quote.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Why Summarize, Paraphrase, or Quote?</a></li>
            </ul>

            <h5>Types of Essays:</h5>
            <p>There are several different types of essays. Depending on the course you are taking and the instructor, expectations will vary. Always follow your instructor’s guidelines. However, you may find these handouts helpful.</p>

            <ul class="res">
                <li><a href="xhr/argument_essay.html" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Argument Essay + Outline</a></li>
                <li><a href="pdfs/cause_effect_essay.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Cause and Effect Essay</a></li>
                <li><a href="pdfs/Compare and Contrast Essay Handout.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Compare and Contrast Essay</a></li>
                <li><a href="pdfs/expository.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Expository Essay</a></li>
                <li><a href="pdfs/narrative_essays.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Narrative Essay</a></li>
            </ul>

            <h5>Grammar and Punctuation:</h5>
            <p>Proofreading for grammatical errors should be the last step in the writing process; however, many of us could use some help identifying errors and understanding how to fix them. Here are some simple handouts that may help you address the common errors that so many writers face.</p>

            <ul class="res">
                <li><a href="pdfs/comma_rules.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Comma Rules</a></li>
                <li><a href="pdfs/common_sentence_errors.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Common Sentence Errors</a></li>
                <li><a href="pdfs/frequently_confused_words.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Frequently Confused Words</a></li>
                <li><a href="pdfs/grammar_terms.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Grammar Terms</a></li>
                <li><a href="pdfs/participles_gerunds.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Participles and Gerunds</a></li>
            <!--<li>Punctuation Rules</li>
                <li>Quick and Essay Punctuation Guide</li>-->
                <li><a href="pdfs/sentence_structures.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Sentence Structures</a></li>
                <li><a href="pdfs/useful_ways_to_join_ideas.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Useful Ways to Join Ideas</a></li>
            </ul>

            <h5>Parts of Speech:</h5>
            <p>There are eight different parts of speech &#40;verbs, nouns, pronouns, adverbs, adjectives, propositions, conjunctions, and interjections&#41;. Understanding how and why we use them is important to language development. The handouts below address the most common questions students ask about parts of speech.</p>

            <ul class="res">
                <li><a href="pdfs/irregular_verbs.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Irregular Verbs</a></li>
                <li><a href="pdfs/parts_speech.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Parts of Speech</a></li>
                <li><a href="pdfs/prepositions_prepositional_phrases.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Prepositions and Prepositional Phrases</a></li>
                <li><a href="pdfs/regular_verb_tenses.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Regular Verb Tenses</a></li>
                <li><a href="pdfs/subject_verb_agreement_grammar_bites.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Subject Verb Agreement</a></li>
            </ul>

            <h5>Essay Writing:</h5>
            <p>Essay writing is a process. You begin with brainstorming and outlining, and then move to drafting and revising. There are a lot of steps in between, too &#40;e.g. thesis statements, tone, etc.&#41;. It can be overwhelming! Take a look at the resources we’ve provided to help you start and finish your essay.</p>
            <ul class="res">
                <li><a href="pdfs/guide_good_writing.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;A Guide to Good Writing</a></li>
               <!--<li>Brainstorming</li>-->
                <li><a href="pdfs/esl_essay_structure.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;ESL Essay Structure</a></li>
                <li><a href="pdfs/essay_paragraph_structure.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Essay and Paragraph Structure</a></li>
                <li><a href="pdfs/essay_outline.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Essay Outline</a></li>
                <li><a href="pdfs/essay_writing_step_by_step.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Essay Writing Step-by-Step</a></li>
                <li><a href="pdfs/fIve_tips_chipping_away_at_writers_block.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Five Tips for Chipping Away at Writer’s Block</a></li>
                <li><a href="pdfs/formulating_good_thesis.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Formulating a Thesis Statement</a></li>
                <li><a href="pdfs/how_to_write_conclusion.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;How to Write a Conclusion</a></li>
                <li><a href="pdfs/how_to_write_abstract.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;How to Write an Abstract</a></li>
                <li><a href="pdfs/Introductions.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Introductions</a></li>
                <li><a href="pdfs/key_words_writing_assignments.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Key Words in Writing Assignments</a></li>
                <li><a href="pdfs/making_general_outline.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Making a General Outline</a></li>
                <li><a href="pdfs/research_paper_blues.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Research Paper Blues</a></li>
                <li><a href="pdfs/signal_phrases_template_analytical_writing.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Signal Phrases and Templates/Templates for Analytical Writing</a></li>
                <li><a href="pdfs/structuring_your_essay.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Structuring Your Essay</a></li>
                <li><a href="pdfs/transitions.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Transitions</a></li>
                <li><a href="pdfs/formulating_good_thesis.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Writing a Good Thesis Statement</a></li>
                <li><a href="pdfs/writing_critical_analysis_papers.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Writing Critical Analysis Papers</a></li>
                <li><a href="pdfs/writing_effective_paragraphs.pdf" target="_blank"><i class="icon ion-document-text"></i>&nbsp;Writing Effective Paragraphs</a></li>
    </ul>
            </section>
            <aside>
                <h2>Online Tutoring</h2>
                <p class="center">We offer friendly, live, online tutoring:</p>
                <p class="center space-after">Be sure to log into blackboard before clicking the link:</p>
                <a target="_blank" class = "btn btn-wrc-color" href="https://scccd.blackboard.com/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_60_1">Online Tutoring</a>
            </aside>
        </div><!--primary-content-->
    </ion-content>
</ion-view>
