<ion-view view-title='Writing &amp; Reading Center'>
    <ion-content class='has-header'>
        <div id="area-header">
            <nav class="area-nav wrc-color">
                <ul>
                    <li><a class="current" href="#">Home</a></li>
                    <li><a href="#/wrc-online-tutoring">Online Tutoring</a></li>
                    <!-- <li><a href="#/writing-reading-center/workshops">Workshops</a></li> -->
                    <li><a href="#">Resources</a></li>
                </ul>
            </nav>
            <div class="hero wrc">
                <img class="special" src="img/icon_wrc.png">
                <h1>WRC</br><span>Writing &amp; Reading Center</span></h1>
            </div>
        </div><!--area-header-->
        <div id="primary-content">
            <section>
                <h2>Writing &amp; Reading Center</h2>
                <p>Our mission at the Writing and Reading Center is to assist students with writing and reading guidance. We provide one-on-one tutoring for essay drafting, writing thesis statements, help with reading textbooks and study skills, and many other useful resources requested by students. We believe that any student can succeed if he/she is given equal access to essential writing and reading skills.</p> 

                <h3>What to Expect - for Students</h3>

                <p>All of our services are free to currently enrolled Fresno City College students. Walk-in sessions are 20 minutes. Call or stop by to make a 25 or 50 minute appointment. Stop by and meet with a tutor during our open hours:</p>

                <table width="300" id="data">
                    <tr>
                    <td width="119">Monday</td>
                    <td width="169">7:30am - 4:30pm</td>
                    </tr>
                    <tr>
                    <td>Tuesday</td>
                    <td>7:30am - 4:30pm</td>
                    </tr>
                    <tr>
                    <td>Wednesday</td>
                    <td>7:30am - 4:30pm</td>
                    </tr>
                    <tr>
                    <td>Thursday</td>   
                    <td>7:30am - 4:30pm</td>    
                    </tr>
                    <tr>
                    <td>Friday</td>
                    <td>7:30am - 2:00pm</td>
                    </tr>
                    <tr>
                    <td>Saturday</td>
                    <td>9:00am - 2:00pm</td>
                    </tr>
                </table>

                </br>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/dK5Z0oO8E8c" frameborder="0" allowfullscreen></iframe>

                <p>We are always striving to meet our students’ needs. If you need any further help, or have questions about the Writing and Reading Center, please feel free to contact us:</p>

                <p class="no-margin">Tel: <a class="link" href="tel:+5594428209"><span>559-442-8209</span></a></p>
                <p class="no-margin">E-mail: <a class="link" href="mailto:tabitha.villalba@fresnocitycollege.edu"><span>tabitha.villalba@fresnocitycollege.edu</span></a></p>
            </section>
            <aside>
                <h2>Online Tutoring</h2>
                <p class="center">We offer friendly, live, online tutoring:</p>
                <p class="center space-after">Be sure to log into blackboard before clicking the link:</p>
                <a target="_blank" class = "btn btn-wrc-color" href="https://scccd.blackboard.com/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_60_1">Online Tutoring</a>
            </aside>
        </div><!--primary-content-->
    </ion-content>
</ion-view>
