body {
  background: #aaa; }

body, main, figure, ul, li {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  width: 100vw; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.bar-assertive, .button-assertive {
  background: #d0103a !important;
  border-color: #d0103a !important; }

.bar-footer, .bar-footer ul, .bar-footer section {
  background: #d0103a;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center; }

.bar-footer {
  height: inherit;
  max-height: 100px;
  background: #d0103a;
  color: #fff;
  font-size: 1vw; }
  .bar-footer img {
    width: 23%;
    padding: 5px 0; }
  .bar-footer ul {
    min-width: 50%; }
  .bar-footer ul li {
    margin: 0 3%; }
  .bar-footer section {
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    max-width: 50%; }
  .bar-footer a {
    text-decoration: none; }

@media screen and (max-width: 640px) {
  .grid-container, .extras, .grid {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }

  .grid-container, .extras {
    overflow-x: hidden; }
    .grid-container .grid, .extras .grid {
      flex-direction: row;
      -webkit-flex-direction: row; }
      .grid-container .grid a, .extras .grid a {
        flex-basis: 26%;
        -webkit-flex-basis: 26%;
        margin: 14px; }
        .grid-container .grid a img, .extras .grid a img {
          height: 100%;
          width: 100%; } }
@media screen and (max-width: 640px) {
  .bar-footer {
    height: 49px;
    font-size: 2.25vw; }
    .bar-footer img, .bar-footer section {
      display: none; }
    .bar-footer ul {
      width: 100%; } }
.area-nav ul {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  background-color: whitesmoke;
  align-items: center; }

.tc {
  background: url(../img/hero_tc.png) no-repeat center center; }

.pass {
  background: url(../img/hero_pass.png) no-repeat center center; }

.wrc {
  background: url(../img/hero_wrc.png) no-repeat center center; }

.etc {
  background: url(../img/hero_etc.png) no-repeat center center; }

.hero {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#hero img {
  width: 200px;
  height: 193px;
  flex-basis: auto; }
#hero h1 {
  color: white;
  padding: 0;
  margin-bottom: 1em;
  font-size: 3em; }
#hero p {
  margin-bottom: 1em;
  font-size: 2em; }

.area-nav li {
  margin: 1em;
  text-transform: uppercase;
  font-size: 0.8em; }
.area-nav:last-child {
  padding-right: 1em; }
.area-nav a {
  color: #999999; }

.pass-color a:hover {
  color: #EAAF05; }

.tc-color a:hover {
  color: #d0103a; }

.wrc-color a:hover {
  color: #e74211; }

.pass-color a.current {
  color: #EAAF05; }

.tc-color a.current {
  color: #d0103a; }

.wrc-color a.current {
  color: #e74211; }

#main {
  display: flex; }

#primary-content {
  display: flex;
  justify-content: space-around; }
  #primary-content section {
    flex-grow: 3;
    padding: 1em;
    margin: 0 2em 0 1em; }
  #primary-content aside {
    flex-grow: 1;
    min-width: 400px;
    text-align: center;
    padding: 1em; }
  #primary-content p {
    margin: 1em 0;
    line-height: 1.5em; }
  #primary-content h2 {
    font-size: 2em;
    line-height: 1.5em; }

.btn {
  color: white;
  font-style: bold;
  padding: 1.5em;
  margin: 2em;
  border-radius: 5px;
  transition: all 500ms ease-in-out; }
  .btn:hover {
    padding: 2em; }

.btn-pass-color {
  background: #EAAF05; }

.btn-tc-color {
  background: #6E0200;
  background: #ef144d; }

.btn-wrc-color {
  background: #e74211; }

.btn:hover {
  color: #262626; }

.space-after {
  padding-bottom: 2em; }

.inline-link {
  background-color: #D0D0D0;
  padding: 0.75em;
  color: black;
  border-radius: 5px;
  transition: all 500mx ease-in-out; }
  .inline-link:hover {
    background-color: #BABABA; }

table {
  margin: 0 1em 1em 0;
  border: 1px solid #666666;
  padding: 0.5em; }

th, td {
  border: 1px solid #666666;
  padding: 0.5em; }

#data th {
  background-color: #CCCCCC;
  font-size: 1em;
  padding: 5px;
  font-weight: bold;
  text-align: center; }
#data tr:nth-child(odd) {
  background-color: #CCCCCC; }

.content li {
  line-height: 1.5em;
  list-style-type: circle;
  margin-left: 1em; }

iframe {
  width: 95%;
  height: calc(100vw / 3.14159); }

@media (max-width: 900px) {
  #primary-content {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  section {
    width: 100%;
    flex-grow: 0;
    width: 100%; }

  p {
    margin-right: 1em; }

  aside {
    flex-grow: 0;
    width: 100%;
    background-color: #D0D0D0; }

  .hero {
    height: 200px; } }
@media (max-width: 550px) {
  .area-nav ul {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto; }
  .area-nav li {
    width: 100%;
    padding: 1em;
    background-color: #EAEAEA;
    text-align: center;
    margin: 0;
    border: 1px solid #E8A600; }

  .tc-color ul li {
    border: 1px solid #d0103a; }

  .wrc-color ul li {
    border: 1px solid #e74211; } }
iframe {
  width: 95%;
  height: calc(100vw / 1.8); }

/*# sourceMappingURL=style.css.map */
