$fcc-red: #d0103a
$fcc-black: #1e1e1e
$lonestar: #6e0200
$deep-red: #a80000
$red: #cc0000
$black: #000000
$tc-red: #6e0200
$etc-purple: #990E67
$wrc-red: #d0103a
$pass-yellow: #eaaf05
$ws-orange: #dd3706

body
    background: #aaa

body, main, figure, ul, li
    margin: 0
    padding: 0

body
    overflow-x: hidden
    width: 100vw

ul
    list-style: none
a
    text-decoration: none
    color: inherit
h1, h2, h3, h4, h5, h6
    padding: 10px 0

h1
    font-size: 36px
    font-weight: 400
h2
    font-size: 32px
    font-weight: 300
h3
    font-size: 28px
    font-weight: 400
h4
    font-size: 24px
    font-weight: 400
h5
    font-size: 18px
    font-weight: 500
h6
    font-size: 14px
    font-weight: 500

//  header and slide-menu styles
.bar-assertive, .button-assertive
    background: $fcc-red !important
    border-color: $fcc-red !important

//  footer styles
.bar-footer, .bar-footer ul, .bar-footer section
    background: $fcc-red
    display: flex
    display: -webkit-flex
    justify-content: space-between
    -webkit-justify-content: space-between
    align-items: center
    -webkit-align-items: center
.bar-footer
    height: inherit
    max-height: 100px
    background: $fcc-red
    color: #fff
    font-size: 1vw
    & img
        width: 23%
        padding: 5px 0
    & ul
        min-width: 50%
    & ul li
        margin: 0 3%
    & section
        flex-direction: column
        -webkit-flex-direction: column
        align-items: flex-start
        -webkit-align-items: flex-start
        max-width: 50%

// the home page
@media screen and (max-width: 640px)
    .grid-container, .extras, .grid
        width: 100%
        display: flex
        display: -webkit-flex
        align-items: center
        -webkit-align-items: center
        flex-direction: column
        -webkit-flex-direction: column
        flex-wrap: wrap
        -webkit-flex-wrap: wrap
    .grid-container, .extras
        overflow-x: hidden
        & .grid
            flex-direction: row
            -webkit-flex-direction: row
            a
                flex-basis: 26%
                -webkit-flex-basis: 26%
                margin: 14px
                img
                    height: 100%
                    width: 100%

@media screen and (max-width: 640px)
    .bar-footer
        height: 49px
        font-size: 2.25vw
        & img, & section
            display: none
        & ul
            width: 100%
