$fcc-red: #d0103a
$fcc-black: #1e1e1e
$lonestar: #6e0200
$deep-red: #a80000
$red: #cc0000
$black: #000000
$tc-red: #6e0200
$etc-purple: #990E67
$wrc-red: #d0103a
$pass-yellow: #eaaf05
$ws-orange: #dd3706

main, figure, ul, li
    margin: 0
    padding: 0

ul
    list-style: none
a
    text-decoration: none
    color: inherit

//  header and slide-menu styles
.bar-assertive, .button-assertive
    background: $fcc-red !important
    border-color: $fcc-red !important

//  footer styles
.bar-footer, .bar-footer ul, .bar-footer section
    background: $fcc-red
    display: flex
    display: -webkit-flex
    justify-content: space-between
    -webkit-justify-content: space-between
    align-items: center
    -webkit-align-items: center
.bar-footer
    height: inherit
    max-height: 65px
    background: $fcc-red
    color: #fff
    font-size: 1vw
    & img
        width: 23%
        padding: 5px 0
    & ul
        min-width: 50%
    & ul li
        margin: 0 3%
    & section
        flex-direction: column
        -webkit-flex-direction: column
        align-items: flex-start
        -webkit-align-items: flex-start
        max-width: 50%
    a
        transition: all 500mx ease-in-out
    a:hover
        color: #D8D8D8

// the home page
.grid-container, .extras, .grid
    display: flex
    display: -webkit-flex
    align-items: center
    -webkit-align-items: center
    flex-direction: column
    -webkit-flex-direction: column
    flex-wrap: wrap
    -webkit-flex-wrap: wrap
.grid-container, .extras
    overflow-x: hidden
    & .articles
        padding: 20px 0
    & article
        width: 33%
        padding: 1.3%
        display: inline-block
        vertical-align: top
        text-align: left
    & section
        width: 100%
        text-align: center
        margin-bottom: 30px
        iframe
            height: calc(100vw / 2.6)
            width: 65%
    & .grid
        flex-direction: row
        -webkit-flex-direction: row
        width: 45%
        a
            flex-basis: 26%
            -webkit-flex-basis: 26%
            margin: 14px
            img
                height: 100%
                width: 100%

@media screen and (max-width: 480px)
    .grid-container, .extras, .grid
        width: 100%
        display: flex
        display: -webkit-flex
        align-items: center
        -webkit-align-items: center
        flex-direction: column
        -webkit-flex-direction: column
        flex-wrap: wrap
        -webkit-flex-wrap: wrap
    .grid-container, .extras
        overflow-x: hidden
        & article
            display: block
            width: 100%
        & .grid
            flex-direction: row
            -webkit-flex-direction: row
            width: 100%
            a
                flex-basis: 26%
                -webkit-flex-basis: 26%
                margin: 14px
                img
                    height: 100%
                    width: 100%

@media screen and (max-width: 640px)
    .bar-footer
        height: 49px
        font-size: 2.25vw
        & img, & section
            display: none
        & ul
            width: 100%

// wrc, tc, etc, and pass styles
.area-nav ul
    display: flex
    display: -webkit-flex
    -webkit-justify-content: flex-end
    justify-content: flex-end
    height: 60px
    background-color: whitesmoke
    align-items: center
    height: 3em

// Sets the hero background images for the area sections

.tc
    background: url(../img/hero_tc.png) no-repeat center center

.pass
    background: url(../img/hero_pass.png) no-repeat center center

.wrc
    background: url(../img/hero_wrc.png) no-repeat center center

.etc
    background: url(../img/hero_etc.png) no-repeat center center

.hero
    width: 100%
    height: 250px
    display: flex
    display: -webkit-flex
    flex-direction: column
    -webkit-flex-direction: column
    justify-content: flex-end
    -webkit-justify-content: flex-end
    align-items: center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

#hero
    img
        width: 200px
        height: 193px
        flex-basis: auto
        -webkit-flex-basis: auto
    h1
        color: white
        padding: 0
        margin-bottom: 1em
        font-size: 3em
    p
        margin-bottom: 1em
        font-size: 2em

// Area Nav Styles

.area-nav
    li
        margin: 1em
        text-transform: uppercase
        font-size: .8em
    &:last-child
        padding-right: 1em
    a
        color: #999999

.pass-color a:hover
    color: #EAAF05

.tc-color a:hover
    color: #d0103a

.wrc-color a:hover
    color: #e74211

.pass-color a.current
    color: #EAAF05

.tc-color a.current
    color: #d0103a

.wrc-color a.current
    color: #e74211

// Main Content Styles

#main
    display: flex
    display: -webkit-flex

#primary-content
    display: flex
    display: -webkit-flex
    justify-content: space-around
    -webkit-justify-content: space-around
    section
        flex-grow: 3
        -webkit-flex-grow: 3
        padding: 1em
        margin: 0 2em 0 1em
    aside
        flex-grow: 1
        -webkit-flex-grow: 1
        min-width: 400px
        text-align: center
        padding: 1em
    p
        margin: 1em 0
        line-height: 1.5em
    h2
        font-size: 2em
        line-height: 1.5em

// button styles

.btn
    color: white
    font-style: bold
    padding: 1.5em
    margin: 2em
    border-radius: 5px
    transition: all 500ms ease-in-out
    &:hover
        padding: 2em

.btn-pass-color
    background: #EAAF05

.btn-tc-color
    background: #6E0200
    background: #ef144d

.btn-wrc-color
    background: #e74211

.btn:hover
    color: #262626

.space-after
    padding-bottom: 2em

.inline-link
    background-color: #D0D0D0
    padding: .75em
    color: black
    border-radius: 5px
    transition: all 500mx ease-in-out
    &:hover
        background-color: #BABABA

// Table Styles

table
    margin: 0 1em 1em 0
    border: 1px solid #666666
    padding: .5em

th, td
    border: 1px solid #666666
    padding: .5em

#data
    th
        background-color: #CCCCCC
        font-size: 1em
        padding: 5px
        font-weight: bold
        text-align: center
    tr:nth-child(odd)
        background-color: #CCCCCC


.content li
    line-height: 1.5em
    list-style-type: circle
    margin-left: 1em

// Media Queries for tablet
@media (max-width: 900px)
    #primary-content
        -webkit-flex-direction: column
        -ms-flex-direction: column
        flex-direction: column
    section
        width: 100%
        flex-grow: 0
        -webkit-flex-grow: 0
    p
        margin-right: 1em
    aside
        flex-grow: 0
        -webkit-flex-grow: 0
        width: 100%
        background-color: #D0D0D0
    .hero
        height: 200px

// Media Queries for mobile
@media (max-width: 550px)
    .area-nav
        ul
            -webkit-flex-direction: column
            -ms-flex-direction: column
            flex-direction: column
            height: auto
        li
            width: 100%
            padding: 1em
            background-color: #EAEAEA
            text-align: center
            margin: 0
            border: 1px solid #E8A600
    .tc-color ul li
        border: 1px solid #d0103a
    .wrc-color ul li
        border: 1px solid #e74211

// video styles
iframe
    height: calc(100vw / 3.8)
    width: 65%

// tutor container to set it in the middle of the page...
